/* common code start */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* common code end */
/* navbar start */
.nav-green-sm{
    background-color: rgb(143, 219, 115);
    border-radius: 12px;
}
.nav-hover-sm a{

}
.nav-hover-sm a:hover{
    transform: scaleY(101%);
    transition:0.3s all ease;
    background-color: rgb(143, 219, 115);
    border-radius: 12px;

}
/* ============== home page start =============== */
/* aboust me section start */
.about-line{
    border-bottom: solid 5px rgb(137, 214, 153);
    border-radius: 5px;
}
.about-icons i{
    font-size: 30px;
}


/* aboust me section end */
/*  */
#card-4{
    border-radius: 12px;
}
#card-4:hover{
transform: scale(101%);
transition:0.3s all ease;
box-shadow: 0px 12px 30px rgb(146, 221, 150);

}
/*  */
.service-1{
    text-align: center;
}
/* ============== home page end =============== */
/* ============== about me page start =============== */
/* header img start */
.page-title-sm{
    background-color: rgba(6, 149, 237, 0.769);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.page-title-sm h1{
font-family: 'Arial Narrow', Arial, sans-serif;
font-size: 44px;
font-weight: 700;
line-height: 40px;
color: rgb(255, 255, 255);
}
/* header img end */

/* client feedback start */
.img-border{
    border: 5px solid #0d6efd ;
}

/* client feedback end */

/* ============== about me page end =============== */
/* progress bar start */
.h-400{
    height: 100px;
}
/* progress bar end */


